
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
}


.navbar {
  background: #5d6666;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  position: sticky;
  top: 0;
}
.logo { font-size: 1.5rem; font-weight: bold; }
.nav-links { list-style: none; display: flex; gap: 20px; }
.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-links a:hover { color: #00d084; }


.hero {
  height: 90vh;
  background: linear-gradient(to right, #b9eaf3, #00aaff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}
.hero h1 { font-size: 3rem; margin-bottom: 10px; }
.hero p  { font-size: 1.2rem; margin-bottom: 20px; }
.btn {
  background: white;
  color: #00aaff;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
}
.btn:hover {
  background: #1e1e2f;
  color: white;
}


.about, .contact {
  padding: 60px 10%;
  background: white;
  margin: 40px auto;
  border-radius: 10px;
  max-width: 800px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}
.about h2, .contact h2 {
 color: #00aaff;
  margin-bottom: 20px;
}


footer {
  background: #5d6666;
  color: #fbf7f7;
  text-align: center;
  padding: 20px;
}
